<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Simple Web Demo</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="bower_components/bootstrapValidator/dist/css/bootstrapValidator.css">
    </head>
    <body>
        <div class="container">
            <h1>User Manager</h1>
            <!-- Modal -->
            <script type="text/template" id="statistics-modal-template">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">User Statistics</h4>
                        </div>
                        <div class="modal-body">
                            Min Salary: <span id="min_salary"><%= statistics ? statistics.get('min_salary') : '' %></span></br>
                            Max Salary: <span id="max_salary"><%= statistics ? statistics.get('max_salary') : '' %></span></br>
                            Avg Salary: <span id="avg_salary"><%= statistics ? statistics.get('avg_salary') : '' %></span></br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </script>
            <hr />
            <div class="page"></div>
        </div>
        <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
        <script src="bower_components/bootstrapValidator/dist/js/bootstrapValidator.js" type="text/javascript"></script>
        <script src="bower_components/bootstrapValidator/dist/js/language/zh_CN.js" type="text/javascript"></script>
        <script src="bower_components/underscore/underscore.js" type="text/javascript"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <script type="text/template" id="user-list-template">
            <button id="show_statistics" type="button" class="btn btn-primary" data-toggle="modal">Show statistics</button>
            &nbsp;
            <button id="create_user" type="button" class="btn btn-primary" data-toggle="modal">Create User</button>
            <hr />
            <table class="table striped">
              <thead>
                <tr>
                  <th>Username</th><th>Age</th><th>Salary</th><th></th>
                </tr>
              </thead>
              <tbody>
                <% _.each(users, function(user) { %>
                  <tr>
                    <td><%= htmlEncode(user.get('username')) %></td>
                    <td><%= htmlEncode(user.get('age')) %></td>
                    <td><%= htmlEncode(user.get('salary')) %></td>
                    <td><a class="btn btn-default edit-user" href="#/edit/<%= user.id %>">Edit</a>&nbsp;<button data-user-id="<%= user.id %>" class="btn btn-danger delete">Delete</button></td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
        </script>
        <script type="text/template" id="edit-user-template">
            <form class="edit-user-form">
              <legend><%= user ? 'Edit' : 'New' %> User</legend>
            <div class="form-group">
                <label>Username</label>
                <input name="username" type="text" required placeholder="Enter username, can only contain numbers or letters, minimum length of 5" pattern="[0-9A-Za-z]{5,}" class="form-control" type="text" value="<%= user ? user.get('username') : '' %>">
            </div>
            <div class="form-group">
                <label>Age</label>
                <input name="age" type="number" required placeholder="Enter age, between 1 and 150" min="1" max="150" class="form-control" type="text" value="<%= user ? user.get('age') : '' %>">
            </div>
            <div class="form-group">
                <label>Salary</label>
                <input name="salary" type="number" required placeholder="Enter salary" min="0" step="any" class="form-control" type="text" value="<%= user ? user.get('salary') : '' %>">
            </div>
                <hr />
               <button type="submit" class="btn"><%= user ? 'Update' : 'Create' %></button>
               <button class="btn back">Go Back</button>
               <% if(user) { %>
                <input type="hidden" name="id" value="<%= user.id %>" />
               <% }; %>
            </form>
        </script>
        <script src="js/utils.js"></script>
        <script src="js/model/user.js"></script>
        <script src="js/model/statistics.js"></script>
        <script src="js/collection/users.js"></script>
        <script src="js/view/user-view.js"></script>
        <script src="js/view/app-view.js"></script>
        <script src="js/view/statistics-view.js"></script>
        <script src="js/router/router.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
