<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Simple Web Demo</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body>

  <div class="container">
    <h1>User Manager</h1>
    <!-- Button trigger modal -->
	<button id="statistics_button" type="button" class="btn btn-primary btn-lg" data-toggle="modal">
	  Show statistics
	</button>
	<!-- Modal -->
	<div class="modal fade" id="statisticsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" id="myModalLabel">User Statistics</h4>
	      </div>
	      <div class="modal-body">
	        Min Salary: <span id="user_min_salary"></span></br>
	        Max Salary: <span id="user_max_salary"></span></br>
	        Avg Salary: <span id="user_avg_salary"></span></br>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
    <hr />
    <div class="page"></div>
  </div>


  <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
  <script src="bower_components/underscore/underscore.js" type="text/javascript"></script>
  <script src="bower_components/backbone/backbone.js"></script>

  <script type="text/template" id="user-list-template">
    <a href="#/new" class="btn btn-primary">New</a>
    <hr />
    <table class="table striped">
      <thead>
        <tr>
          <th>First Name</th><th>Last Name</th><th>Age</th><th></th>
        </tr>
      </thead>
      <tbody>
        <% _.each(users, function(user) { %>
          <tr>
            <td><%= htmlEncode(user.get('username')) %></td>
            <td><%= htmlEncode(user.get('age')) %></td>
            <td><%= htmlEncode(user.get('salary')) %></td>
            <td><a class="btn" href="#/edit/<%= user.id %>">Edit</a></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </script>

  <script type="text/template" id="edit-user-template">
    <form class="edit-user-form">
      <legend><%= user ? 'Edit' : 'New' %> User</legend>
        <label>Username</label>
        <input name="username" type="text" value="<%= user ? user.get('username') : '' %>">
        <label>Age</label>
        <input name="age" type="text" value="<%= user ? user.get('age') : '' %>">
        <label>Salary</label>
        <input name="salary" type="text" value="<%= user ? user.get('salary') : '' %>">
        <hr />
       <button type="submit" class="btn"><%= user ? 'Update' : 'Create' %></button>
       <% if(user) { %>
        <input type="hidden" name="id" value="<%= user.id %>" />
       <button data-user-id="<%= user.id %>" class="btn btn-danger delete">Delete</button>
       <% }; %>
    </form>
  </script>

  <script>
    function htmlEncode(value){
      return $('<div/>').text(value).html();
    }
    $.fn.serializeObject = function() {
      var o = {};
      var a = this.serializeArray();
      $.each(a, function() {
          if (o[this.name] !== undefined) {
              if (!o[this.name].push) {
                  o[this.name] = [o[this.name]];
              }
              o[this.name].push(this.value || '');
          } else {
              o[this.name] = this.value || '';
          }
      });
      return o;
    };

    $.ajaxPrefilter( function( options, originalOptions, jqXHR ) {
      options.url = '/simpleweb' + options.url;
    });

    var Users = Backbone.Collection.extend({
      url: '/users'
    });

    var User = Backbone.Model.extend({
      urlRoot: '/users'
    });

    var UserListView = Backbone.View.extend({
      el: '.page',
      render: function () {
        var that = this;
        var users = new Users();
        users.fetch({
          success: function (users) {
            var template = _.template($('#user-list-template').html(), {users: users.models});
            that.$el.html(template);
          }
        })
      }
    });

    var userListView = new UserListView();

    var UserEditView = Backbone.View.extend({
      el: '.page',
      events: {
        'submit .edit-user-form': 'saveUser',
        'click .delete': 'deleteUser'
      },
      saveUser: function (ev) {
        var userDetails = $(ev.currentTarget).serializeObject();
        var user = new User();
        user.save(userDetails, {
          success: function (user) {
            router.navigate('', {trigger:true});
          }
        });
        return false;
      },
      deleteUser: function (ev) {
        this.user.destroy({
          success: function () {
            //console.log('destroyed');
            router.navigate('', {trigger:true});
          }
        })
      },
      render: function (options) {
        var that = this;
        if(options.id) {
          that.user = new User({id: options.id});
          that.user.fetch({
            success: function (user) {    
              var template = _.template($('#edit-user-template').html(), {user: user});
              that.$el.html(template);
            }
          })
        } else {
          var template = _.template($('#edit-user-template').html(), {user: null});
          that.$el.html(template);
        }
      }
    });

    var userEditView = new UserEditView();

    var Router = Backbone.Router.extend({
        routes: {
          "": "home", 
          "edit/:id": "edit",
          "new": "edit",
          "statistics": "statistics"
        }
    });

    var router = new Router;
    router.on('route:home', function() {
      // render user list
      userListView.render();
    })
    router.on('route:edit', function(id) {
      userEditView.render({id: id});
    })
    router.on('route:statistics', function(id) {
      userStaisticsView.render();
    })
    Backbone.history.start();
    
    $statisticsModal = $('#statisticsModal');
    $user_min_salary = $statisticsModal.find('#user_min_salary');
    $user_max_salary = $statisticsModal.find('#user_max_salary');
    $user_avg_salary = $statisticsModal.find('#user_avg_salary');
    $(document).delegate('button#statistics_button', 'click', function () {
    	// send statistics request
        $.ajax({
            type: "GET",
            url: '/users/statistics',
            cache: false,
            success: function(data, textStatus, jqXHR){
            	$user_min_salary.text(data['min_salary']);
            	$user_max_salary.text(data['max_salary']);
            	$user_avg_salary.text(data['avg_salary']);
                $statisticsModal.modal('show');
            },
            error: function(jqXHR, textStatus, errorThrown) {
            	$user_min_salary.text('error');
            	$user_max_salary.text('error');
            	$user_avg_salary.text('error');
                $statisticsModal.modal('show');
            }
        });
    });    
  </script>


</body>
</html> 

